---
import ModeToggle from "../solidjs/ModeToggle";
---
<footer class="flex items-center justify-between mt-12 py-8 border-t">
    <p class="text-muted-foreground">Created by <a href="https://ryanfurrer.com/" target="_blank" rel="noopener noreferrer" class="hover:text-foreground transition-colors">Ryan Furrer</a></p>
    <ModeToggle client:only="solid-js" />
</footer>
