---
import GameSelectorSection from "@/components/solidjs/GameSelectorSection";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="FirstLook.gg Take Home">
    <main class="space-y-12">
        <h1 class="text-center">Player Onboarding</h1>
        <GameSelectorSection client:load />
    </main>
</BaseLayout>
